
<div style = "color: #6185ce;" class="col-12" *ngIf="atividadeTipoId===1">
<div class="container">
<button (click)="goBack()">Voltar</button>
  <div class="row">

      <h1>Programação II</h1>
      <hr class="bg-secondary">
  </div>

  <div class="row">
    <div class="col-9">
      <div class="card">
        <div style = "color: #0F2552;" class="card-body">
          <h5 class="card-title">{{ atividade.situacaoAprendizagem.titulo }}</h5>

          <div style = "color: #0F2552;">
            <p class="titulo">Situação de aprendizagem:</p>
            <p>{{ atividade.situacaoAprendizagem.descricao }}</p>
          </div>
  
          <div>
            <p class="titulo">Atividade:</p>
            <p>{{ atividade.descricao }}</p>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Resposta:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <button id ="enviar"class="btn btn-primary">Enviar atividade</button>
        </div>
      
      </div>
    </div>

    <!-- Aside -->
    <div class="col-3">
      <aside style = "color: #0F2552;">
        <h2>Status da tarefa:</h2>
        <div style = "color: #0F2552;">
          <p class="titulo">Status de Envio:</p>
          <p>
            Não entregue
          </p>
        </div>
        <div style = "color: #0F2552;">
          <p class="titulo">Início:</p>
          <p>
            {{ atividade.dataInicio | date : "EEEE, HH:mm - dd/MM/yyyy " : " +0000" : "pt-BR" | titlecase }}
          </p>
        </div>

        <div style = "color: #0F2552;">
          <p class="titulo">Término:</p>
          <p>
            {{ atividade.dataFim | date : "EEEE, HH:mm - dd/MM/yyyy " : " +0000" : "pt-BR" | titlecase }}
          </p>
        </div>
      </aside>
    </div>
  </div>
</div>
</div>



    <!-- Atividade com Upload id=2-->

    <div style = "color: #6185ce;" class="col-12" *ngIf="atividadeTipoId===2">
      <div class="container">
      <button (click)="goBack()">Voltar</button>
        <div class="row">
      
            <h1>Programação II</h1>
            <hr class="bg-secondary">
        </div>
      
        <div class="row">
          <div class="col-9">
            <div class="card">
              <div style = "color: #0F2552;" class="card-body">
                <h5 class="card-title">{{ atividade.situacaoAprendizagem.titulo }}</h5>
      
                <div style = "color: #0F2552;">
                  <p class="titulo">Situação de aprendizagem:</p>
                  <p>{{ atividade.situacaoAprendizagem.descricao }}</p>
                </div>
        
                <div>
                  <p class="titulo">Atividade:</p>
                  <p>{{ atividade.descricao }}</p>
                </div>
                <input
                class="form-control"
                type="file"
                (change)="onFileSelected($event)"
                multiple
              />
      
              <p *ngFor="let fileName of filesName">{{ fileName }}</p>
      
        
      
                <button id ="enviar"class="btn btn-primary">Enviar atividade</button>
              </div>
            
            </div>
          </div>
      
          <!-- Aside -->
          <div class="col-3">
            <aside style = "color: #0F2552;">
              <h2>Status da tarefa:</h2>
              <div style = "color: #0F2552;">
                <p class="titulo">Status de Envio:</p>
                <p>
                  Não entregue
                </p>
              </div>
              <div style = "color: #0F2552;">
                <p class="titulo">Início:</p>
                <p>
                  {{ atividade.dataInicio | date : "EEEE, HH:mm - dd/MM/yyyy " : " +0000" : "pt-BR" | titlecase }}
                </p>
              </div>
      
              <div style = "color: #0F2552;">
                <p class="titulo">Término:</p>
                <p>
                  {{ atividade.dataFim | date : "EEEE, HH:mm - dd/MM/yyyy " : " +0000" : "pt-BR" | titlecase }}
                </p>
              </div>
            </aside>
          </div>
        </div>
      </div>
      </div>


    <!-- Apresentação oral id=3 -->
    <div class="col-10" *ngIf="atividadeTipoId===3">
      <p-card>

        <div>
          <p class="titulo">Título:</p>
          <p>{{ atividade.situacaoAprendizagem.titulo }}</p>
        </div>

        <div>
          <p class="titulo">Situação de aprendizagem  :</p>
          <p>{{ atividade.situacaoAprendizagem.descricao }}</p>
        </div>

        <div>
          <p class="titulo">Atividade:</p>
          <p>{{ atividade.descricao }}</p>
        </div>

        <div>
          <p class="titulo">Início:</p>
          <p>
            {{ atividade.dataInicio | date : "EEEE, HH:mm - dd/MM/yyyy " : " +0000" : "pt-BR" | titlecase }}
          </p>
        </div>

        <div>
          <p class="titulo">Término:</p>
          <p>
            {{ atividade.dataFim | date : "EEEE, HH:mm - dd/MM/yyyy " : " +0000" : "pt-BR" | titlecase }}
          </p>
        </div>

        <div>
          <p>Apresentação oral id=3</p>
        </div>
      </p-card>
    </div>

    <!-- Atividade de multipla escolha id=4 -->
    <div style = "color: #6185ce;" class="col-12" *ngIf="atividadeTipoId===4">
      <div class="container">
      <button (click)="goBack()">Voltar</button>
        <div class="row">
      
            <h1>Programação II</h1>
            <hr class="bg-secondary">
        </div>
      
        <div class="row">
          <div class="col-9">
            <div class="card">
              <div style = "color: #0F2552;" class="card-body">
                <h5 class="card-title">{{ atividade.situacaoAprendizagem.titulo }}</h5>
      
                <div style = "color: #0F2552;">
                  <p class="titulo">Situação de aprendizagem:</p>
                  <p>{{ atividade.situacaoAprendizagem.descricao }}</p>
                </div>
        
                <div>
                  <p class="titulo">Atividade:</p>
                  <p>{{ atividade.descricao }}</p>
                </div>
            
      
                <button id ="enviar"class="btn btn-primary">Iniciar Questionário</button>
              </div>
            
            </div>
          </div>
      
          <!-- Aside -->
          <div class="col-3">
            <aside style = "color: #0F2552;">
              <h2>Status da tarefa:</h2>
              <div style = "color: #0F2552;">
                <p class="titulo">Status de Envio:</p>
                <p>
                  Não entregue
                </p>
              </div>
              <div style = "color: #0F2552;">
                <p class="titulo">Início:</p>
                <p>
                  {{ atividade.dataInicio | date : "EEEE, HH:mm - dd/MM/yyyy " : " +0000" : "pt-BR" | titlecase }}
                </p>
              </div>
      
              <div style = "color: #0F2552;">
                <p class="titulo">Término:</p>
                <p>
                  {{ atividade.dataFim | date : "EEEE, HH:mm - dd/MM/yyyy " : " +0000" : "pt-BR" | titlecase }}
                </p>
              </div>
            </aside>
          </div>
        </div>
      </div>
      </div>